<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">

    <!-- 단일행 조회를 위한 기능 정의-->
    <select id="selectItem">
        SELECT prodno, title, price, content, size, img1, img2, img3, img4, img5, img6, is_sell, sub_category_subcateno FROM product WHERE prodno=#{prodno};
    </select>

    <!-- 다중행 조회를 위한 기능 정의-->
    <select id="selectList">
        SELECT prodno, title, price, content, size, img1, img2, img3, img4, img5, img6, is_sell, sub_category_subcateno 
        FROM product 
        <where>
            <if test="sub_category_subcateno != null and sub_category_subcateno !=''">
                sub_category_subcateno = #{sub_category_subcateno}
            </if>
            <if test="title != null and title != ''">
                AND title LIKE concat('%', #{title}, '%')
            </if>
        </where>
        <!-- 정렬 순을 위해 -->
        <if test="sortOption != null and sortOption != ''">
              <choose>
                <when test="sortOption === 'descend'">
                ORDER BY price DESC
                </when>
                <when test="sortOption === 'ascend'">
                ORDER BY price ASC
                </when>
                <otherwise>
                ORDER BY prodno ${sortOption}
                </otherwise>
            </choose>
        </if>
        <if test="sortBy != null and sortBy != '' and sortOrder != null and sortOrder !=''"  >
            ORDER BY ${sortBy} ${sortOrder}
        </if>
        <if test="startIndex != null and endIndex != null">
            LIMIT ${startIndex}, ${endIndex}
        </if>
    </select>

    <!-- 데이터 저장을 위한 기능 정의-->
    <insert id="insertItem">
        INSERT INTO product (title, price, content, size, img1, img2, img3, img4, img5, img6, is_sell, sub_category_subcateno) 
        VALUES (#{title}, #{price}, #{content}, #{size}, #{img1}, #{img2}, #{img3}, #{img4}, #{img5}, #{img6}, #{is_sell}, #{sub_category_subcateno});
    </insert>

    <!-- 데이터 삭제를 위한 기능 정의-->
    <delete id="deleteItem">
        DELETE FROM product WHERE prodno=#{prodno};
    </delete>

    <!-- 데이터 갱신을 위한 기능 정의 -->
    <update id="updateItem">
        UPDATE product SET title=#{title}, price=#{price}, content=#{content}, size=#{size}, img1=#{img1}, img2=#{img2}, img3=#{img3}, img4=#{img4}, img5=#{img5}, img6=#{img6}, is_sell=#{is_sell}, sub_category_subcateno=#{sub_category_subcateno}
        WHERE prodno=#{prodno};
    </update>

    <!-- 데이터 수 조회하기 -->
    <select id="selectCountAll">
        SELECT COUNT(*) AS cnt FROM product 
        <where>
            <if test="sub_category_subcateno != null">
                sub_category_subcateno = #{sub_category_subcateno}
            </if>
            <if test="title != null and title != ''">
                AND title LIKE concat('%', #{title}, '%')
            </if>
        </where>
    </select>
    
</mapper>